
/*Esto es para la usabilidad, para el texto, orientacion y vision */
.usability-widget {
  position: fixed;
  top: 80px;
  right: 20px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.texto-grande {
  font-size: 1.2em;
}

.interlineado {
  line-height: 1.8;
}


.contraste-alto {
  background-color: black !important;
  color: white !important;
}

.grises {
  filter: grayscale(100%);
}


.resaltar-enlaces a {
  background-color: yellow;
  font-weight: bold;
}

.enfoque *:focus {
  outline: 3px solid red !important;
}


.access-btn {
  position: fixed;
  top: 100px;
  right: 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 22px;
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.usability-widget {
  position: fixed;
  top: 170px;
  right: 20px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.access-btn {
  position: fixed;
  top: 100px;
  right: 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 22px;
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.usability-widget {
  position: fixed;
  top: 170px;
  right: 20px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sin-animaciones *,
.sin-animaciones *::before,
.sin-animaciones *::after {
  animation: none !important;
  transition: none !important;
}
